.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.collapseBtn {
  position: absolute;
  right: -40px;
  bottom: 40px;
}

.items {
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    align-items: center;
  }
}