.app_lavender_theme {
  --bg-color: #402c7c;                /* глубокий тёмный фон с фиолетовым подтоном */
  --inverted-bg-color: #f5f3fa;       /* светлый лавандово-молочный фон при инверсии */
  --primary-color: #b497ff;           /* основной акцент — мягкая светлая лаванда */
  --secondary-color: #cbb6ff;         /* более нежный, пастельный лавандовый */
  --inverted-primary-color: #7f5aff;  /* акцент при инверсии — более насыщенный фиолетово-лавандовый */
  --inverted-secondary-color: #a48aff;/* вспомогательный насыщенный светлый фиолетово-лавандовый */
  --text-color: #e3e0ed;              /* светлый текст с лавандовым оттенком */
  --muted-text-color: #9a96a8;        /* приглушённый серо-лавандовый текст */
  --border-color: #402c7c;            /* тёмная граница с фиолетовым нюансом */
  --skeleton-shadow: #2fe0a5;
  --skeleton-color: #91e4c7;
  --code-bg: #4f3993;
}
