.app.light {
    --bg-color: #fefefe;
    --inverted-bg-color: #222020;

    --primary-color: #9a0c80;
    --secondary-color: #d35cbd;
    --inverted-primary-color: #2ecf06;
    --inverted-secondary-color: #abd2a1;
}