.ArticleDetailsPage {
    min-height: 100%;
}

.commentTitle {
    margin-top: 20px;
}

.recommendations {
    display: flex;
    margin-top: 20px;
    flex-wrap: nowrap !important;
    overflow-y: hidden;
    overflow-x: auto;
}