.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.header {
    display: flex;
    gap: 10px;
}

.editBtn {
    margin-left: auto;
}

.data {
    margin-top: 30px;
}