.item {
  display: flex;
  align-items: center;
  gap: 10px
}

.icon {
  fill: var(--secondary-color)
}

.link {
  opacity: 1;
}

.collapsed {
  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}